<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>cars</title>
  <link rel="stylesheet" href="./stylesheet/style.css">
</head>
<body>
  <div class="container">
    <a href="/cars">cars</a>
    <a href="/cats">cats</a>
    <h2>create car</h2>
    <form>
      <label for="name">name</label>
      <input type="text" id="name">
      <label for="maker">maker</label>
      <input type="text" id="maker">
      <input type="submit" value="create car">
    </form>
  </div>
</body>
</html>
